
<div class="rating js-rating js-rating--read-only ">
    <p class="margin-bottom-xs is-hidden">The rating of this product is <span class="rating__value js-rating__value">{{ block.settings.rating }}</span> out of 5</p>
    <a href="{{ product.url }}" class="rating__link" aria-label="Read reviews">
      <div class="rating__control overflow-hidden rating__control--is-hidden js-rating__control">
        <svg width="24" height="24" viewBox="0 0 24 24"><polygon points="12 1.489 15.09 7.751 22 8.755 17 13.629 18.18 20.511 12 17.261 5.82 20.511 7 13.629 2 8.755 8.91 7.751 12 1.489" fill="currentColor"/></svg>
      </div>
    </a>
</div>


  
  