<button class="reset switch-icon switch-icon--flip js-switch-icon js-tab-focus" aria-label="Toggle icon">
  <svg class="switch-icon__icon switch-icon__icon--a" viewBox="0 0 32 32"><g fill="none" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"><line x1="29" y1="29" x2="20.777" y2="20.777"></line><circle cx="13" cy="13" r="11"></circle></g></svg>

  <svg class="switch-icon__icon switch-icon__icon--b" viewBox="0 0 32 32"><g fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor"><line x1="27" y1="5" x2="5" y2="27"></line><line x1="27" y1="27" x2="5" y2="5"></line></g></svg>
</button>