

<div class="switch margin-right-sm">
    <input class="switch__input" type="checkbox" id="themeSwitch" Checked>
    <label class="switch__label" for="themeSwitch" aria-hidden="true">Option label</label>
    <div class="switch__marker" aria-hidden="true"></div>
</div>
  
  