

<div class="switch">
    <input class="switch__input" type="checkbox" id="themeSwitch-mobile" Checked>
    <label class="switch__label" for="themeSwitch-mobile" aria-hidden="true">Option label</label>
    <div class="switch__marker" aria-hidden="true"></div>
  </div>
  
  