{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.blogs.featured_post' %}
  {% include 'custom_fields.blogs.featured_video' %}
  {% include 'custom_fields.blogs.featured_video_title' %}
  {% include 'custom_fields.blogs.featured_video_embed' %}
  {% include 'custom_fields.blogs.featured_video_cover' %}
</div>