{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/patricksherwin.myshopify.com/products/configure/104945/edit
{% endcomment %}
{% if product.metafields.custom_fields["power_output"] != blank %}
  <div class="custom-field custom-field__power-output custom-field__type--text">
    <h3 class="custom-field--title">Power output</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["power_output"] }}
    </div>
  </div>
{% endif %}