{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/patricksherwin.myshopify.com/products/configure/105251/edit
{% endcomment %}
{% if product.metafields.custom_fields["weight_bundle"] != blank %}
  <div class="custom-field custom-field__weight-bundle custom-field__type--html">
    <h3 class="custom-field--title">Weight (Bundle)</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["weight_bundle"] }}
    </div>
  </div>
{% endif %}