{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/patricksherwin.myshopify.com/products/configure/101970/edit
{% endcomment %}
{% if product.metafields.custom_fields["product_intro_content_color"] != blank %}
  <div class="custom-field custom-field__product-intro-content-color custom-field__type--text-list">
    <h3 class="custom-field--title">Product Intro: Content [Color] </h3>
    <div class="custom-field--value">  
      {{ product.metafields.custom_fields["product_intro_content_color"] }}
    </div>
  </div>
{% endif %}