{% if product.metafields.custom_fields["product_list__products"] != blank %}
  <div class="custom-field custom-field__product-list__products custom-field__type--product-reference">
    <h3 class="custom-field--title">Product List / Products</h3>
    <div class="custom-field--value">  
    {% assign product_refs = product.metafields.custom_fields["product_list__products"] | split: "|" %}
      <ul>
        {% for product_handle in product_refs %}
          <li>
            {% assign product_ref = all_products[product_handle] %}
            {{ product_ref.title | link_to: product_ref.url }}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}