{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/patricksherwin.myshopify.com/products/configure/104533/edit
{% endcomment %}
{% if product.metafields.custom_fields["max_temp"] != blank %}
  <div class="custom-field custom-field__max-temp custom-field__type--text-list">
    <h3 class="custom-field--title">Max temperature</h3>
    <div class="custom-field--value">  
      {{ product.metafields.custom_fields["max_temp"] }}
    </div>
  </div>
{% endif %}