{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/patricksherwin.myshopify.com/products/configure/101924/edit
{% endcomment %}
{% if product.metafields.custom_fields["material"] != blank %}
  <div class="custom-field custom-field__material custom-field__type--text">
    <h3 class="custom-field--title">Material</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["material"] }}
    </div>
  </div>
{% endif %}