{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/patricksherwin.myshopify.com/pages/configure/135262/edit
{% endcomment %}
{% if page.metafields.custom_fields["newsletter_block"] != blank %}
  <div class="custom-field custom-field__newsletter-block custom-field__type--field-collection">
    <h3 class="custom-field--title">Newsletter Block</h3>
    <div class="custom-field--value">
      {% assign separator = "|###|" %}
      {% assign fc_keys = page.metafields.custom_fields["newsletter_block"] | split: "," %}
      {% for i in fc_keys %}
        {% assign index = i | plus: 0 %}
        <div class="fc-item fc-item--newsletter block fc-index--{{ index }}">
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}