{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/patricksherwin.myshopify.com/pages/configure/106536/edit
{% endcomment %}
{% if page.metafields.custom_fields["page_intro_content_description"] != blank %}
  <div class="custom-field custom-field__page-intro-content-description custom-field__type--html">
    <h3 class="custom-field--title">Page Intro: Content [Description]</h3>
    <div class="custom-field--value">
      {{ page.metafields.custom_fields["page_intro_content_description"] }}
    </div>
  </div>
{% endif %}