{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/patricksherwin.myshopify.com/products/configure/125839/edit
{% endcomment %}
{% if product.metafields.custom_fields["available_year"] != blank %}
  <div class="custom-field custom-field__available-year custom-field__type--number-list">
    <h3 class="custom-field--title">Year</h3>
    <div class="custom-field--value">  
      {{ product.metafields.custom_fields["available_year"] }}
    </div>
  </div>
{% endif %}