{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/patricksherwin.myshopify.com/pages/configure/106954/edit
{% endcomment %}
{% if page.metafields.custom_fields["next_page_link"] != blank %}
  <div class="custom-field custom-field__next-page-link custom-field__type--text">
    <h3 class="custom-field--title">Next Page: Link</h3>
    <div class="custom-field--value">
      {{ page.metafields.custom_fields["next_page_link"] }}
    </div>
  </div>
{% endif %}