{% if blog.metafields.custom_fields["featured_video_cover"] != blank %}
  <h2 class="video-header"> <b>Watch: &nbsp;</b> {{ blog.metafields.custom_fields["featured_video_title"] }} </h2>
  <div class="video-wrapper mb60">
    <img loading="lazy"  id="video-cover" src='{{ blog.metafields.custom_fields["featured_video_cover"] }}' alt="{{ blog.metafields.custom_fields["featured_video_title"] }}">
    <iframe id="player" width="560" height="315" src='{{ blog.metafields.custom_fields["featured_video_embed"] }}' frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <div id="play" class="btn-wrap">
      <div class="play-btn">
        <div class="play-icon"></div>
      </div>
      <div class="play-btn-pulse"></div>
    </div>
  </div>
{% endif %}