{% if blog.metafields.custom_fields["featured_video_cover"] != blank %}
<h2 class="video-header"> <b>Watch: &nbsp;</b> {{ blog.metafields.custom_fields["featured_video_title"] }} </h2>
    <div class="video-wrapper mb60">
        <img  id="video-cover" src='{{ blog.metafields.custom_fields["featured_video_cover"] }}' alt="{{ blog.metafields.custom_fields["featured_video_title"] }}">
        <iframe id="player" width="560" height="315" src='{{ blog.metafields.custom_fields["featured_video_embed"] }}' frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <button id="play" class="play-btn">
            <i class="material-icons">
            play_circle_outline
            </i>
	    </button>
    </div>
{% endif %}