{% if product.metafields.custom_fields["product_video_cover"] != blank %}
    <div class="video-wrapper mb25">
        <img  id="video-cover" src='{{ product.metafields.custom_fields["product_video_cover"] }}' alt="Video title">
        <iframe id="player" width="560" height="315" src='{{ product.metafields.custom_fields["product_video_embed"] }}' frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <button id="play" class="play-btn">
            <i class="material-icons">
            play_circle_outline
            </i>
	    </button>
    </div>
{% endif %}