{% if page.metafields.custom_fields["next_page_title"] != blank %}
<div class="next-page mt100 mb100 flex-center">
<a class="text-lg link-fx-5" href='{{ page.metafields.custom_fields["next_page_link"] }}'>{{ page.metafields.custom_fields["next_page_title"] }} →</a>
</div>
{% endif %}