{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.pages.page_width' %}
  {% include 'custom_fields.pages.image_style' %}
  {% include 'custom_fields.pages.page_intro_content_color' %}
  {% include 'custom_fields.pages.page_intro_content_title' %}
  {% include 'custom_fields.pages.page_intro_content_description' %}
  {% include 'custom_fields.pages.page_intro_content_image' %}
  {% include 'custom_fields.pages.cards' %}
  {% include 'custom_fields.pages.staff' %}
  {% include 'custom_fields.pages.page_video_title' %}
  {% include 'custom_fields.pages.page_video_cover' %}
  {% include 'custom_fields.pages.page_video_embed' %}
  {% include 'custom_fields.pages.next_page_title' %}
  {% include 'custom_fields.pages.next_page_link' %}
  {% include 'custom_fields.pages.newsletter_theme' %}
  {% include 'custom_fields.pages.newsletter_block' %}
</div>