{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.products.banners_dialog_product' %}
  {% include 'custom_fields.products.product_intro_content_color' %}
  {% include 'custom_fields.products.product_intro_content_title' %}
  {% include 'custom_fields.products.product_intro_content_text' %}
  {% include 'custom_fields.products.product_intro_content_img' %}
  {% include 'custom_fields.products.product_benefits' %}
  {% include 'custom_fields.products.best_use' %}
  {% include 'custom_fields.products.cook_time' %}
  {% include 'custom_fields.products.meals_per_load' %}
  {% include 'custom_fields.products.max_temp' %}
  {% include 'custom_fields.products.weight_bundle' %}
  {% include 'custom_fields.products.product_capacity' %}
  {% include 'custom_fields.products.size' %}
  {% include 'custom_fields.products.size_bundle' %}
  {% include 'custom_fields.products.material' %}
  {% include 'custom_fields.products.product_runtime' %}
  {% include 'custom_fields.products.power_output' %}
  {% include 'custom_fields.products.usb_ports' %}
  {% include 'custom_fields.products.cable_length' %}
  {% include 'custom_fields.products.charge_time' %}
  {% include 'custom_fields.products.lumens' %}
  {% include 'custom_fields.products.table_template' %}
  {% include 'custom_fields.products.product_video_embed' %}
  {% include 'custom_fields.products.product_video_cover' %}
  {% include 'custom_fields.products.violator_tag_text' %}
  {% include 'custom_fields.products.violator_tag_type' %}
  {% include 'custom_fields.products.bundle_includes' %}
  {% include 'custom_fields.products.included_in' %}
  {% include 'custom_fields.products.works_with' %}
  {% include 'custom_fields.products.works_with_items' %}
  {% include 'custom_fields.products.product_accessories_items' %}
  {% include 'custom_fields.products.banners_dialog' %}
  {% include 'custom_fields.products.partners_platform' %}
  {% include 'custom_fields.products.partners_url' %}
  {% include 'custom_fields.products.available_month' %}
  {% include 'custom_fields.products.available_year' %}
</div>