<div class="width-100 testimonial-slideshow slideshow slideshow--transition-slide js-slideshow" data-swipe="on">
    <p class="sr-only">Slideshow Items</p>
    
    <ul class="slideshow__content">
      <li class="slideshow__item bg-contrast-lower text-center js-slideshow__item">
        <div class="container max-width-sm">
          <blockquote class="text-xl@md text-lg@sm line-height-md">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam quo dolores dolor reprehenderit iure laborum atque.</p>
          </blockquote>

          <footer class="margin-top-md">
            <figure class="testimonial-slideshow__profile-img radius-50% border border-2 border-bg margin-x-auto margin-bottom-sm" aria-hidden="true">
              <img src="../../../app/assets/img/testimonials-img-1.svg" alt="Emily Ewing">
            </figure>
            
            <cite class="text-md">
              <strong>Emily Ewing</strong> 
              <span class="block color-contrast-medium margin-top-xxxxs">Designer at CompanyX</span>
            </cite>
          </footer>
        </div>
      </li>
      
      <li class="slideshow__item bg-contrast-lower text-center js-slideshow__item">
        <div class="container max-width-sm">
            <blockquote class="text-xl@md text-lg@sm line-height-md">
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque, ducimus velit culpa ex blanditiis maxime minus quas.</p>
            </blockquote>
            
            <footer class="margin-top-md">
              <figure class="testimonial-slideshow__profile-img radius-50% border border-2 border-bg margin-x-auto margin-bottom-sm" aria-hidden="true">
                <img src="../../../app/assets/img/testimonials-img-2.svg" alt="James Powell">
              </figure>
              
              <cite class="text-md">
                <strong>James Powell</strong>
                <span class="block color-contrast-medium margin-top-xxxxs">Developer at CompanyY</span>
              </cite>
            </footer>
        </div>
      </li>
      
      <li class="slideshow__item bg-contrast-lower text-center js-slideshow__item">
        <div class="container max-width-sm">
            <blockquote class="text-xl@md text-lg@sm line-height-md">
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi veniam maiores eum!</p>
            </blockquote>
            
            <footer class="margin-top-md">
              <figure class="testimonial-slideshow__profile-img radius-50% border border-2 border-bg margin-x-auto margin-bottom-sm" aria-hidden="true">
                <img src="../../../app/assets/img/testimonials-img-3.svg" alt="Olivia Gribben">
              </figure>
              
              <cite class="text-md">
                <strong>Olivia Gribben</strong> 
                <span class="block color-contrast-medium margin-top-xxxxs">CEO at CompanyZ</span>
              </cite>
            </footer>
        </div>
      </li>
    </ul>
  
    <ul>
      <li class="slideshow__control js-slideshow__control">
        <button class="reset slideshow__btn js-tab-focus">
          <svg class="icon" viewBox="0 0 32 32"><title>Show previous slide</title><path d="M20.768,31.395L10.186,16.581c-0.248-0.348-0.248-0.814,0-1.162L20.768,0.605l1.627,1.162L12.229,16 l10.166,14.232L20.768,31.395z"></path></svg>
        </button>
      </li>
  
      <li class="slideshow__control js-slideshow__control">
        <button class="reset slideshow__btn js-tab-focus">
          <svg class="icon" viewBox="0 0 32 32"><title>Show next slide</title><path d="M11.232,31.395l-1.627-1.162L19.771,16L9.605,1.768l1.627-1.162l10.582,14.813 c0.248,0.348,0.248,0.814,0,1.162L11.232,31.395z"></path></svg>
        </button>
      </li>
    </ul>
  </div>