

<div class="position-relative z-index-1 overflow-hidden padding-y-xl bg-contrast-lower">
  <div class="margin-bottom-lg">
    <h1 class="text-center">Vertical Timeline</h1>
  </div>

  <div class="container max-width-adaptive-lg">
    <div class="v-timeline js-v-timeline" data-animation="on">
      <section class="v-timeline__section js-v-timeline__section">
        <div class="v-timeline__marker bg-contrast-high border border-3 border-contrast-lower" aria-hidden="true"></div>
  
        <div class="v-timeline__items-group">
          <div class="v-timeline__item bg padding-md radius-md shadow-xs">
            <div class="v-timeline__date margin-bottom-sm">
              <time class="v-timeline__date-value" datetime="2020-03-18T00:00">Mar 18, 2020</time>
            </div>
  
            <div class="text-component">
              <h2>Title of item 1</h2>
    
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam hic dicta, quos reprehenderit quidem omnis officiis fuga nostrum.</p>
            </div>
  
            <div class="margin-top-md">
              <a class="btn btn--primary" href="#0">Read More</a>
            </div>
          </div>
        </div>
      </section>

      <section class="v-timeline__section js-v-timeline__section">
        <div class="v-timeline__marker bg-contrast-high border border-3 border-contrast-lower" aria-hidden="true"></div>
  
        <div class="v-timeline__items-group">
          <div class="v-timeline__item bg padding-md radius-md shadow-xs">
            <div class="v-timeline__date margin-bottom-sm">
              <time class="v-timeline__date-value" datetime="2020-03-26T00:00">Mar 26, 2020</time>
            </div>
  
            <div class="text-component">
              <h2>Title of item 2</h2>
    
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex numquam eveniet earum ad ratione reprehenderit nihil, mollitia adipisci cum eaque?</p>
            </div>
  
            <div class="margin-top-md">
              <a class="btn btn--primary" href="#0">Read More</a>
            </div>
          </div>

          <div class="v-timeline__item bg padding-md radius-md shadow-xs">
            <div class="text-component">
              <h2>Title of item 3</h2>
    
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, totam.</p>
            </div>
          </div>
        </div>
      </section>

      <section class="v-timeline__section js-v-timeline__section">
        <div class="v-timeline__marker bg-contrast-high border border-3 border-contrast-lower" aria-hidden="true"></div>
  
        <div class="v-timeline__items-group">
          <div class="v-timeline__item bg padding-md radius-md shadow-xs">
            <div class="v-timeline__date margin-bottom-sm">
              <time class="v-timeline__date-value" datetime="2020-04-08T00:00">Apr 08, 2020</time>
            </div>
  
            <div class="text-component">
              <h2>Title of item 4</h2>
    
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi praesentium dolore debitis cum nesciunt cumque placeat voluptatibus natus, necessitatibus numquam sunt, laborum possimus id?</p>

              <figure class="text-component__block">
                <img src="../../../app/assets/img/vertical-timeline-img-1.jpg" alt="Image description">
              </figure>
            </div>
          </div>
        </div>
      </section>

      <section class="v-timeline__section js-v-timeline__section">
        <div class="v-timeline__marker bg-contrast-high border border-3 border-contrast-lower" aria-hidden="true"></div>
  
        <div class="v-timeline__items-group">
          <div class="v-timeline__item bg padding-md radius-md shadow-xs">
            <div class="v-timeline__date margin-bottom-sm">
              <time class="v-timeline__date-value" datetime="2020-05-17T00:00">May 17, 2020</time>
            </div>
  
            <div class="text-component">
              <h2>Title of item 5</h2>
    
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam hic dicta, quos reprehenderit quidem omnis officiis fuga nostrum.</p>

              <ul>
                <li>List item 1</li>
                <li>List item 2</li>
                <li>List item 3</li>
              </ul>
            </div>
  
            <div class="margin-top-md">
              <a class="btn btn--primary" href="#0">Read More</a>
            </div>
          </div>
        </div>
      </section>

      <section class="v-timeline__section js-v-timeline__section">
        <div class="v-timeline__marker bg-contrast-high border border-3 border-contrast-lower" aria-hidden="true"></div>
  
        <div class="v-timeline__items-group">
          <div class="v-timeline__item bg padding-md radius-md shadow-xs">
            <div class="v-timeline__date margin-bottom-sm">
              <time class="v-timeline__date-value" datetime="2020-06-01T00:00">Jun 01, 2020</time>
            </div>
  
            <div class="text-component">
              <h2>Title of item 6</h2>
    
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam hic dicta, quos reprehenderit quidem omnis officiis fuga nostrum.</p>
            </div>
  
            <div class="margin-top-md">
              <a class="btn btn--primary" href="#0">Read More</a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

