<div class="flex-center">

  <div class="sixteen columns page clearfix wrapper--xl">

    <h1 class="mb60"> {{ page.title }} </h1>
    <div class="feature_divider"></div>

    <div class="banner center page_banner collection_banner nav-shadow mobile--true mb60">
      <div class="width-1-1 split-banner split-banner--img right">
        <img loading="lazy" src="//cdn.shopify.com/s/files/1/0789/1333/files/OurTeam_V01_b178047d-9f73-44bf-bc11-9622ca869c7e.jpg?11379" alt="" class="lazyload blur-up" sizes="100vw">
      </div>
      <div class="width-1-1 split-banner split-banner--content left grape">
        <div id="bc-sf-filter-collection-description" class="section clearfix collection_description">
          <h1> We stand behind our products <span class="xl">100%.</span></h1>
        </div>
      </div>
    </div>

    <div class="banner center page_banner collection_banner nav-shadow mobile--false mb60">
      <div class="width-1-2 split-banner split-banner--img right">
        <img loading="lazy" src="//cdn.shopify.com/s/files/1/0789/1333/files/OurTeam_V01_b178047d-9f73-44bf-bc11-9622ca869c7e.jpg?11379" alt="" class="lazyload blur-up" sizes="100vw">
      </div>
      <div class="width-1-2 split-banner split-banner--content left grape">
        <div id="bc-sf-filter-collection-description" class="section clearfix collection_description">
          <h1> We stand behind our products <span class="xl">100%.</span></h1>
        </div>
      </div>
</div>
      <div>
        {% include 'page-multi-column', content: page.content %}
      </div>
    </div>

  </div>
</div>