{{ page.content }}

<video autoplay muted loop playsinline class="bg-video lozad lazy red" data-poster="https://cdn.shopify.com/s/files/1/0789/1333/products/gosun-chill-electric-cooler-render_2000x2000.jpg?v=1603135743" width="560" height="315">
  <source data-src="https://cdn.shopify.com/s/files/1/0789/1333/files/Chill_TempControl.mp4?v=1588544239" type="video/mp4">
</video>
 
<h1>TEST</h1> 
{% section 'custom-fields-pages' %}
